.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    min-height: 100vh;

    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    box-sizing: border-box;
}
