.btn {
    border-radius: 4px;
    background: #3B82F6;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border: none;
    padding: 10px 14px;
    max-width: 128px;
    width: 100%;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            background: linear-gradient(0deg, #60A5FA 0%, #60A5FA 100%), #60A5FA;
        }
    }
}

@media screen and (max-width: 600px) {
    .btn {
        max-width: 100%;
        order: 0;
    }
}